.App {
	text-align: center;
}

.nature {
	height: 600px;
}

.carous {
	margin: 2% 10%;
}

.parg-nature {
	margin: 2%;
	background-color: rgb(221, 219, 219);
	padding: 3%;
	border-radius: 10px;
}

.parg-nature h2 {
	letter-spacing: 10px;
}
.cards {
	display: flex;
	justify-content: space-around;
	margin: 5%;
}

.card:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.froms {
	width: 90%;
	margin: 2% 5%;
	text-align: start;
	border: 1px solid gray;
	padding: 3%;
	border-radius: 10px;
}

.froms:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.footer-part {
	background-color: rgb(196, 194, 194);
	height: 100px;
	padding: 5%;
	color: #fff;
}
